<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-7 mt-3">
      <h1>
        This First Heading
        <span class="text-secondary">Will Catch Your Eyes</span>
      </h1>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo
      </p>
    </div>

    <div class="col-4 mt-3 mb-3">
        <img
        class="rounded-circle img-flex max-width-100"
        style="max-width: 100%"
          src="./assets/img/babosas_exoticas_rgb.jpg"
        />
      </div>
  </div>
  <hr />
  <br />
</div>
